# Archivos comunes ignorados en todos los servicios
**/HELP.md
**/target/
!**/.mvn/wrapper/maven-wrapper.jar
!*/src/main/*/target/
!*/src/test/*/target/

# Eclipse / Spring Tool Suite (STS)
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

# IntelliJ IDEA
**/.idea
*/.iws
*/.iml
*/.ipr

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# Gradle / Maven build folders
**/build/
!*/src/main/*/build/
!*/src/test/*/build/

# Visual Studio Code
**/.vscode/